@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Playfair+Display:wght@400;700&display=swap");
.pt-60 {
  padding-top: 60px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
  color: #FFF;
}
@media (max-width: 599px) {
  h1 {
    font-size: 18px;
    line-height: 1.5em;
  }
}

.legal h1 {
  color: #013061;
}
.legal h3 {
  margin-top: 40px;
}

h2 {
  color: #013061;
}

h3 {
  font-size: 24px;
}

li,
p {
  font-family: "Open Sans", sans-serif;
}

ul {
  padding-left: 20px;
}
ul li {
  margin-top: 15px;
  line-height: 1.4em;
}

.navbar {
  margin-top: -70px;
  background-color: #FFF;
}
.navbar.no-hero {
  margin-top: 0;
}
@media (max-width: 599px) {
  .navbar {
    margin-top: 0;
  }
}
.navbar button.navbar-toggler-icon {
  color: #013061;
}
.navbar .navbar-nav .nav-item {
  border-bottom: 1px solid #013061;
  text-align: center;
}
.navbar .navbar-nav .nav-item:last-child {
  border-bottom: none;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #013061;
}

.header {
  position: relative;
  text-align: center;
  color: white;
}
.header img {
  filter: brightness(80%);
}
.header .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: showup 3s;
}
.header .header-text span {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
}
@media (max-width: 599px) {
  .header .header-text span {
    font-size: 24px;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact-img {
  width: 100%;
}
@media (max-width: 599px) {
  .contact-img {
    width: 60%;
  }
}

footer {
  background-color: #013061;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #EB7F00;
}
@media (max-width: 599px) {
  footer ul {
    list-style: none;
  }
  footer ul li {
    border-top: 1px solid #FFF;
  }
}

.cta-button {
  background-color: #EB7F00;
  color: #FFF;
  padding: 20px;
  border-radius: 15px;
}
.cta-button:hover {
  text-decoration: none;
  background-color: #ff9213;
  color: #FFF !important;
}

hr {
  border-top: 1px solid #FFF;
}

section#services {
  background-color: #013061;
  color: #FFF;
}
section#services h2 {
  color: #FFF;
}
section#ueber-uns {
  background-color: #999;
  color: #FFF;
}
section#ueber-uns h2 {
  color: #FFF;
}
section#kontakt {
  background-color: #666;
  color: #fff;
}
section#kontakt h2 {
  color: #fff;
}
section#kontakt a {
  color: #fff;
}
section#kontakt a:hover {
  color: #EB7F00;
}

@media (min-width: 600px) {
  .parallax {
    background-image: url("../images/seidemann-ueber-uns.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*# sourceMappingURL=style.css.map */
