@import url("../fonts/");
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 1.8em;
  line-height: 2.5rem;
  color: #013061;
}

h2 {
  color: #013061;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.legal h1 {
  color: #013061;
}
.legal h2 {
  margin-top: 3rem;
}
.legal h3 {
  margin-top: 2rem;
}

li,
p {
  font-family: "Open Sans", sans-serif;
}

ul {
  padding-left: 20px;
}
ul li {
  margin-top: 1rem;
  line-height: 1.6rem;
}

.navbar {
  margin-top: -70px;
  background-color: #FFF;
}
.navbar.no-hero {
  margin-top: 0;
}
@media (max-width: 599px) {
  .navbar {
    margin-top: 0;
  }
}
.navbar button.navbar-toggler-icon {
  color: #013061;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #013061;
}
@media (max-width: 599px) {
  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #013061;
    text-align: center;
  }
  .navbar .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }
}

.header {
  position: relative;
  text-align: center;
  color: white;
}
.header img {
  filter: brightness(80%);
}
.header .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  animation: showup 3s;
}
.header .header-text span {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}
@media (max-width: 599px) {
  .header .header-text span {
    font-size: 1.7rem;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.intro .intro-text {
  color: #444;
}
section#services, section#partner {
  background-color: #013061;
  color: #FFF;
}
section#services h2, section#partner h2 {
  color: #FFF;
}
section#ueber-uns {
  background-color: #999;
  color: #FFF;
}
section#ueber-uns h2 {
  color: #FFF;
}
section#ueber-uns .quote {
  position: relative;
}
section#ueber-uns .quote i {
  position: absolute;
  color: #b9b9b9;
  z-index: 1;
  left: -1.2rem;
  top: -2rem;
}
section#ueber-uns .quote p {
  position: relative;
  z-index: 5;
}
section#ueber-uns .quote p.quote-text {
  font-style: italic;
}
section#kontakt {
  background-color: #666;
  color: #fff;
}
section#kontakt h2 {
  color: #fff;
}
section#kontakt .contact-img {
  width: 100%;
  box-shadow: 0px 2px 20px 3px #444;
}
@media (max-width: 599px) {
  section#kontakt .contact-img {
    width: 60%;
  }
}
section#kontakt a {
  color: #fff;
}
section#kontakt a:hover {
  color: #EB7F00;
}

footer {
  background-color: #013061;
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #EB7F00;
}
@media (max-width: 599px) {
  footer ul {
    list-style: none;
  }
  footer ul li {
    border-top: 1px solid #FFF;
  }
}

.cta-button {
  background-color: #EB7F00;
  color: #FFF;
  padding: 20px;
  border-radius: 15px;
}
.cta-button:hover {
  text-decoration: none;
  background-color: #ff9213;
  color: #FFF !important;
}

hr {
  border-top: 1px solid #FFF;
}

.image-spacer img {
  width: 100%;
}

.pt-60 {
  padding-top: 60px;
}

@media (min-width: 600px) {
  .parallax-1 {
    background-image: url("../images/andreas-seidemann-wirtschaftspruefung.jpg");
  }
}

@media (min-width: 600px) {
  .parallax-2 {
    background-image: url("../images/andreas-seidemann-wirtschaftspruefung-partner.jpg");
  }
}

.parallax-1,
.parallax-2 {
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
