// Variables
$primary-color: #014995;
$secondary-color: #0F70B7;
$highlighting-color: #EB7F00;
$grey-color: #d3d3d3;


// Fonts
h1, 
h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: $primary-color;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
}

p {
    font-family: "Open Sans", sans-serif;
}

ul {
    padding-left: 20px;
    li {
        margin-top: 15px;
        line-height: 1.2em;
    }
}

// Header intro
.header {
    img {
        width: 100%;
    }
}

section {
    &#services{
        background-color: $primary-color;
        color: #FFF;
        h2 {
            color: #FFF;
        }
    }
}


.contact-img {
    width: 100%;
}